*{
    margin: 0%;
    padding: 0%;
}
header{
    overflow: hidden;
}
.logo{background-color: antiquewhite;
    text-align: center;
    height: 100%;
    width: 30%;
    float: left;
}
.banner{
    background-color:chocolate;
    text-align: center;
    height: 100%;
    width: 70%;
    float: right;
}
.bar{background-color:cornflowerblue;
    text-align: center;
    height: 100%;
    width: 100%;}
.block{
    overflow: hidden;
}
.left_block{
    width: 25%;
    height: 500px;
    background-color: fuchsia;
    float: left;
    text-align: center;
}
.center_block{
    width: 50%;
    height: 500px;
    background-color: hotpink;
    float: left;
    
}
.top_block{
    height: 30%;
    background-color: lightcyan;
    text-align: center;
}
.middle_block{
    height: 40%;
    background-color: khaki;
    text-align: center;
}
.bottom_block{
    height: 30%;
    background-color: lightcoral;
    text-align: center;
}
.right_block{
    width: 25%;
    height: 500px;
    background-color: green;
    float: left;
    text-align: center;
}
footer{
    height: 100%;
    width: 100%;
    background-color: lime;
    text-align: center;
}